@{
    ViewBag.Title = "File Import";
    Layout = "_AdminLayout";
}

<div class="alert alert-success alert-block text-center" role="alert">
    <h2><i class="fa fa-info-circle"></i> File import completed!</h2>
</div>